*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.main-nav{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    background-color: #d6e9eb;
    height: 34px;
    z-index: 9999;
    padding-top: 6px;
}

.nav-container{
    display: flex;
    justify-content: space-around;
    padding-left: 65%;
  
}

.nav-container li{
    display: inline-block;
}

.nav-container a{
    color: #000;
    text-decoration: none;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 45%;
  }

  /* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .message-modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 20%; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }

  main{
    text-align: center;
  } 

  .message-modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
  }

.basket-cart-image {
    display: flex;
    width: 500px;
}  

.basket-cart-image img{
    width: 200px;
    height: 200px;
}

.basket-cart-information{
    margin: auto;
}


.header-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.left-header-image{
    width: 75%;
}

.left-header-image img{
    height: 679px;
    width: 100%;
    padding-left: 3px;
}



.right-header-image{
    padding-left: 5px;
    width: 27%;
}

.clothes-information{
    text-align: center;
}

.clothes-information h3, h2{
    color: #212a31;
}

.clothes-information button{
    background-color: #99c8cd;
    color: white;
    border: none;
    width: 100px;
    border-radius: 6px;
    margin-top: 10px;
}

.packet-information{
    width: 25%;
    padding: .5rem;
}

.packet-information img{
    width: 100%;
    
}

section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 80%;
    margin: auto;
    padding: 0.5rem;

}

.shopping-basket-icon{
    width: 25px;
}

.shopping-basket-count{
    color: #212a31;
    size: 20px;
}
.shopping-basket{
    /* position: fixed;
    bottom: 0;
    right: 0;
    padding-right: 20px;
    padding-bottom: 10px; */
    /* display: flex;
    justify-content: end;
    padding-top: 10px;
    padding-right: 20px; */
}

.select-count-product{
    display: flex;
    justify-content: space-between;
    padding-right: 144px;
    padding-top: 20px;
}

.select-count-product button{
    background-color: white;
    border: none;
    font-size: 20px;
}

.select-count-product button:nth-child(4){
    background-color: #99c8cd;
    color: white;
    border: none;
    width: 64px;
    border-radius: 6px;
    font-size: 17px;
}

.select-count-product p{
    font-size: 20px;
}

.message-order button{
    background-color: #99c8cd;
    color: white;
    border: none;
    width: 100px;
    border-radius: 6px;
    margin-top: 10px;
}

.total-price{
    display: flex;
    justify-content: end;
}

.total-price p {
    color: red;
}
